<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>testng.HomePageLinks</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>footerIcons</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>needHelp</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>theSmallPrint</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>moreFromUs</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>headerLinks</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>middleLinks</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
