<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="74d26a">  <td>17/04/19 12:46:50</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;HomePageLinks.Logout()[pri:0, instance:testng.HomePageLinks@3e6fa38a]">&lt;&lt;Logout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@89387388</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>17/04/19 12:46:11</td>   <td>-38401</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageLinks.footerIcons()[pri:2, instance:testng.HomePageLinks@3e6fa38a]">footerIcons</td> 
  <td>main@89387388</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>17/04/19 12:45:50</td>   <td>-59901</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageLinks.headerLinks()[pri:0, instance:testng.HomePageLinks@3e6fa38a]">headerLinks</td> 
  <td>main@89387388</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>17/04/19 12:45:37</td>   <td>-72812</td> <td>&nbsp;</td><td title="&gt;&gt;HomePageLinks.launchBrowser()[pri:0, instance:testng.HomePageLinks@3e6fa38a]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@89387388</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>17/04/19 12:45:58</td>   <td>-51141</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageLinks.middleLinks()[pri:1, instance:testng.HomePageLinks@3e6fa38a]">middleLinks</td> 
  <td>main@89387388</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>17/04/19 12:46:14</td>   <td>-35124</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageLinks.moreFromUs()[pri:3, instance:testng.HomePageLinks@3e6fa38a]">moreFromUs</td> 
  <td>main@89387388</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>17/04/19 12:46:41</td>   <td>-8500</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageLinks.needHelp()[pri:4, instance:testng.HomePageLinks@3e6fa38a]">needHelp</td> 
  <td>main@89387388</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>17/04/19 12:46:50</td>   <td>-11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageLinks.theSmallPrint()[pri:5, instance:testng.HomePageLinks@3e6fa38a]">theSmallPrint</td> 
  <td>main@89387388</td>   <td></td> </tr>
</table>
