<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Edgars</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c78c6b">  <td>17/01/19 11:24:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest1.accountPage()[pri:2, instance:testng.NewTest1@39aeed2f]">accountPage</td> 
  <td>main@125622176</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>17/01/19 11:24:39</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest1.checkOutPage()[pri:3, instance:testng.NewTest1@39aeed2f]">checkOutPage</td> 
  <td>main@125622176</td>   <td></td> </tr>
<tr bgcolor="849fce">  <td>17/01/19 11:24:39</td>   <td>7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest2.deleteAccountPage()[pri:2, instance:testng.NewTest2@724af044]">deleteAccountPage</td> 
  <td>main@125622176</td>   <td></td> </tr>
<tr bgcolor="849fce">  <td>17/01/19 11:24:39</td>   <td>27</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest2.deleteCheckOutPage()[pri:3, instance:testng.NewTest2@724af044]">deleteCheckOutPage</td> 
  <td>main@125622176</td>   <td></td> </tr>
<tr bgcolor="849fce">  <td>17/01/19 11:24:39</td>   <td>-9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest2.deleteHomePage()[pri:1, instance:testng.NewTest2@724af044]">deleteHomePage</td> 
  <td>main@125622176</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>17/01/19 11:24:39</td>   <td>-31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest1.homePage()[pri:1, instance:testng.NewTest1@39aeed2f]">homePage</td> 
  <td>main@125622176</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>17/01/19 11:24:39</td>   <td>-59</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest1.login()[pri:0, instance:testng.NewTest1@39aeed2f]">&gt;&gt;login</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@125622176</td>   <td></td> </tr>
<tr bgcolor="849fce">  <td>17/01/19 11:24:39</td>   <td>-9</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest2.login()[pri:0, instance:testng.NewTest2@724af044]">&gt;&gt;login</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@125622176</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>17/01/19 11:24:39</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest1.logout()[pri:0, instance:testng.NewTest1@39aeed2f]">&lt;&lt;logout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@125622176</td>   <td></td> </tr>
<tr bgcolor="849fce">  <td>17/01/19 11:24:39</td>   <td>49</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest2.logout()[pri:0, instance:testng.NewTest2@724af044]">&lt;&lt;logout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@125622176</td>   <td></td> </tr>
</table>
