<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>testng.HomePageLinks</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>footerIcons</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>needHelp</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>theSmallPrint</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>moreFromUs</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>headerLinks</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>middleLinks</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testng.Tabs</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>brandsTabClick</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>beautyTabClick</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>menTabClick</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>kidsTabClick</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>cellularTabClick</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>womenTabClick</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>homewareTabClick</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>shoesTabClick</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testng.SerachFunction</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>login</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testng.AccountInformation</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>validLogins</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closeBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testng.InvalidLogins</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>invalidLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Logout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>openBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testng.Wishlist</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>wishlistLinks</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addOperation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addToCart</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>login</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testng.AddNewAddress</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>contactInformation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Address</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>captureDeatils</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addressBookValidation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>logIn</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testng.AccountDashboard</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>f</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testng.MyAccountLinks</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>MyOrders</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>thankUCard</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>accountInformation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>captureDeatils</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>mySummary</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NewsletterSubscription</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>logIn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>myStatement</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MyWishlist</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addressBook</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>screenShotCapture</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testng.CreditCard</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>captureDeatils</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addToCart</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>logIn</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testng.Logins</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>validLogins</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closeBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testng.AccountRegister</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>registerBtn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>regeisterRequired</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>regiester</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testng.NewsletterSubscription</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>captureDeatils</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>subscriptionStatus</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>logIn</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
