<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8f92ff">  <td>17/04/08 06:56:26</td>   <td>0</td> <td title="&gt;&gt;Tabs.openBrowser()[pri:0, instance:testng.Tabs@548e7350]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="e8b466">  <td>17/04/08 06:56:57</td>   <td>30211</td> <td>&nbsp;</td><td title="&gt;&gt;AccountRegister.launchBrowser()[pri:0, instance:testng.AccountRegister@77cd7a0]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>17/04/08 06:57:12</td>   <td>45977</td> <td>&nbsp;</td><td title="&gt;&gt;AddNewAddress.launchBrowser()[pri:0, instance:testng.AddNewAddress@754ba872]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>17/04/08 06:57:54</td>   <td>87527</td> <td>&nbsp;</td><td title="&gt;&gt;CreditCard.launchBrowser()[pri:0, instance:testng.CreditCard@4667ae56]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>17/04/08 06:58:28</td>   <td>121954</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewsletterSubscription.logIn()[pri:0, instance:testng.NewsletterSubscription@1a968a59]">logIn</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>17/04/08 06:58:28</td>   <td>121966</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreditCard.logIn()[pri:0, instance:testng.CreditCard@4667ae56]">logIn</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="e8b466">  <td>17/04/08 06:58:28</td>   <td>122002</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountRegister.registerBtn()[pri:0, instance:testng.AccountRegister@77cd7a0]">registerBtn</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>17/04/08 06:58:28</td>   <td>122010</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountDashboard.f()[pri:0, instance:testng.AccountDashboard@6eebc39e]">f</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>17/04/08 06:58:28</td>   <td>122014</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SerachFunction.login()[pri:0, instance:testng.SerachFunction@464bee09]">login</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>17/04/08 06:58:28</td>   <td>122022</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MyAccountLinks.logIn()[pri:0, instance:testng.MyAccountLinks@204f30ec]">logIn</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>17/04/08 06:58:28</td>   <td>122030</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageLinks.headerLinks()[pri:0, instance:testng.HomePageLinks@e25b2fe]">headerLinks</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>17/04/08 06:58:28</td>   <td>122034</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewAddress.logIn()[pri:0, instance:testng.AddNewAddress@754ba872]">logIn</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>17/04/08 06:58:32</td>   <td>125870</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountInformation.validLogins(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testng.AccountInformation@f6c48ac]">validLogins</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>17/04/08 06:58:32</td>   <td>125878</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountInformation.validLogins(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testng.AccountInformation@f6c48ac]">validLogins</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>17/04/08 06:58:32</td>   <td>125886</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Wishlist.login()[pri:0, instance:testng.Wishlist@13deb50e]">login</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>17/04/08 06:58:32</td>   <td>125902</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewsletterSubscription.captureDeatils()[pri:1, instance:testng.NewsletterSubscription@1a968a59]">captureDeatils</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>17/04/08 06:58:32</td>   <td>125910</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MyAccountLinks.captureDeatils()[pri:1, instance:testng.MyAccountLinks@204f30ec]">captureDeatils</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>17/04/08 06:58:32</td>   <td>125926</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Wishlist.addToCart()[pri:1, instance:testng.Wishlist@13deb50e]">addToCart</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>17/04/08 06:58:32</td>   <td>125938</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreditCard.captureDeatils()[pri:1, instance:testng.CreditCard@4667ae56]">captureDeatils</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/04/08 06:58:33</td>   <td>126125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InvalidLogins.openBrowser()[pri:1, instance:testng.InvalidLogins@4dfa3a9d]">openBrowser</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="e8b466">  <td>17/04/08 06:58:33</td>   <td>126137</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountRegister.regeisterRequired()[pri:1, instance:testng.AccountRegister@77cd7a0]">regeisterRequired</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="8f92ff">  <td>17/04/08 06:58:33</td>   <td>126141</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tabs.womenTabClick()[pri:1, instance:testng.Tabs@548e7350]">womenTabClick</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>17/04/08 06:58:33</td>   <td>126145</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageLinks.middleLinks()[pri:1, instance:testng.HomePageLinks@e25b2fe]">middleLinks</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>17/04/08 06:58:33</td>   <td>126149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewAddress.captureDeatils()[pri:1, instance:testng.AddNewAddress@754ba872]">captureDeatils</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>17/04/08 06:58:33</td>   <td>126153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewsletterSubscription.subscriptionStatus()[pri:2, instance:testng.NewsletterSubscription@1a968a59]">subscriptionStatus</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/04/08 06:58:33</td>   <td>126329</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InvalidLogins.invalidLogin(java.lang.String, java.lang.String)[pri:2, instance:testng.InvalidLogins@4dfa3a9d]">invalidLogin</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/04/08 06:58:33</td>   <td>126334</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InvalidLogins.invalidLogin(java.lang.String, java.lang.String)[pri:2, instance:testng.InvalidLogins@4dfa3a9d]">invalidLogin</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/04/08 06:58:33</td>   <td>126342</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InvalidLogins.invalidLogin(java.lang.String, java.lang.String)[pri:2, instance:testng.InvalidLogins@4dfa3a9d]">invalidLogin</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/04/08 06:58:33</td>   <td>126346</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InvalidLogins.invalidLogin(java.lang.String, java.lang.String)[pri:2, instance:testng.InvalidLogins@4dfa3a9d]">invalidLogin</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/04/08 06:58:33</td>   <td>126349</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InvalidLogins.invalidLogin(java.lang.String, java.lang.String)[pri:2, instance:testng.InvalidLogins@4dfa3a9d]">invalidLogin</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/04/08 06:58:33</td>   <td>126353</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InvalidLogins.invalidLogin(java.lang.String, java.lang.String)[pri:2, instance:testng.InvalidLogins@4dfa3a9d]">invalidLogin</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/04/08 06:58:33</td>   <td>126360</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InvalidLogins.invalidLogin(java.lang.String, java.lang.String)[pri:2, instance:testng.InvalidLogins@4dfa3a9d]">invalidLogin</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/04/08 06:58:33</td>   <td>126365</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InvalidLogins.invalidLogin(java.lang.String, java.lang.String)[pri:2, instance:testng.InvalidLogins@4dfa3a9d]">invalidLogin</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/04/08 06:58:33</td>   <td>126380</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InvalidLogins.invalidLogin(java.lang.String, java.lang.String)[pri:2, instance:testng.InvalidLogins@4dfa3a9d]">invalidLogin</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/04/08 06:58:33</td>   <td>126383</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InvalidLogins.invalidLogin(java.lang.String, java.lang.String)[pri:2, instance:testng.InvalidLogins@4dfa3a9d]">invalidLogin</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>17/04/08 06:58:33</td>   <td>126386</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MyAccountLinks.accountInformation()[pri:2, instance:testng.MyAccountLinks@204f30ec]">accountInformation</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>17/04/08 06:58:33</td>   <td>126429</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Wishlist.addOperation()[pri:2, instance:testng.Wishlist@13deb50e]">addOperation</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>17/04/08 06:58:33</td>   <td>126434</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreditCard.addToCart()[pri:2, instance:testng.CreditCard@4667ae56]">addToCart</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="e8b466">  <td>17/04/08 06:58:33</td>   <td>126656</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountRegister.regiester(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:2, instance:testng.AccountRegister@77cd7a0]">regiester</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="e8b466">  <td>17/04/08 06:58:33</td>   <td>126670</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountRegister.regiester(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:2, instance:testng.AccountRegister@77cd7a0]">regiester</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="8f92ff">  <td>17/04/08 06:58:33</td>   <td>126852</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tabs.menTabClick()[pri:2, instance:testng.Tabs@548e7350]">menTabClick</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>17/04/08 06:58:33</td>   <td>126856</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageLinks.footerIcons()[pri:2, instance:testng.HomePageLinks@e25b2fe]">footerIcons</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>17/04/08 06:58:33</td>   <td>126860</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewAddress.addressBookValidation()[pri:2, instance:testng.AddNewAddress@754ba872]">addressBookValidation</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/04/08 06:58:33</td>   <td>126868</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InvalidLogins.Logout()[pri:3, instance:testng.InvalidLogins@4dfa3a9d]">Logout</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>17/04/08 06:58:33</td>   <td>126868</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MyAccountLinks.addressBook()[pri:3, instance:testng.MyAccountLinks@204f30ec]">addressBook</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>17/04/08 06:58:33</td>   <td>126872</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Wishlist.wishlistLinks()[pri:3, instance:testng.Wishlist@13deb50e]">wishlistLinks</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="8f92ff">  <td>17/04/08 06:58:33</td>   <td>126908</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tabs.kidsTabClick()[pri:3, instance:testng.Tabs@548e7350]">kidsTabClick</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>17/04/08 06:58:33</td>   <td>126912</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageLinks.moreFromUs()[pri:3, instance:testng.HomePageLinks@e25b2fe]">moreFromUs</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>17/04/08 06:58:33</td>   <td>126912</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewAddress.contactInformation()[pri:3, instance:testng.AddNewAddress@754ba872]">contactInformation</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>17/04/08 06:58:33</td>   <td>126916</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MyAccountLinks.MyOrders()[pri:4, instance:testng.MyAccountLinks@204f30ec]">MyOrders</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="8f92ff">  <td>17/04/08 06:58:33</td>   <td>126928</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tabs.shoesTabClick()[pri:4, instance:testng.Tabs@548e7350]">shoesTabClick</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>17/04/08 06:58:33</td>   <td>126932</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageLinks.needHelp()[pri:4, instance:testng.HomePageLinks@e25b2fe]">needHelp</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>17/04/08 06:58:37</td>   <td>130801</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddNewAddress.Address()[pri:4, instance:testng.AddNewAddress@754ba872]">Address</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>17/04/08 06:58:37</td>   <td>130801</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MyAccountLinks.MyWishlist()[pri:5, instance:testng.MyAccountLinks@204f30ec]">MyWishlist</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="8f92ff">  <td>17/04/08 06:58:37</td>   <td>130809</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tabs.beautyTabClick()[pri:5, instance:testng.Tabs@548e7350]">beautyTabClick</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>17/04/08 06:58:37</td>   <td>130813</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageLinks.theSmallPrint()[pri:5, instance:testng.HomePageLinks@e25b2fe]">theSmallPrint</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>17/04/08 06:58:37</td>   <td>130813</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MyAccountLinks.NewsletterSubscription()[pri:6, instance:testng.MyAccountLinks@204f30ec]">NewsletterSubscription</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="8f92ff">  <td>17/04/08 06:58:37</td>   <td>130869</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tabs.homewareTabClick()[pri:6, instance:testng.Tabs@548e7350]">homewareTabClick</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>17/04/08 06:58:37</td>   <td>130869</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MyAccountLinks.thankUCard()[pri:7, instance:testng.MyAccountLinks@204f30ec]">thankUCard</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="8f92ff">  <td>17/04/08 06:58:37</td>   <td>130877</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tabs.cellularTabClick()[pri:7, instance:testng.Tabs@548e7350]">cellularTabClick</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>17/04/08 06:58:37</td>   <td>130885</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MyAccountLinks.mySummary()[pri:8, instance:testng.MyAccountLinks@204f30ec]">mySummary</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="8f92ff">  <td>17/04/08 06:58:37</td>   <td>130893</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tabs.brandsTabClick()[pri:8, instance:testng.Tabs@548e7350]">brandsTabClick</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>17/04/08 06:58:37</td>   <td>130893</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MyAccountLinks.myStatement()[pri:9, instance:testng.MyAccountLinks@204f30ec]">myStatement</td> 
  <td>main@633070006</td>   <td></td> </tr>
</table>
