<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Ecommerce</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c78c6b">  <td>17/01/19 14:09:15</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;NewTest1.login()[pri:0, instance:testng.NewTest1@4678c730]">&gt;&gt;login</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>17/01/19 14:09:15</td>   <td>38</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest1.CheckPage()[pri:0, instance:testng.NewTest1@4678c730]">CheckPage</td> 
  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>17/01/19 14:09:15</td>   <td>60</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest1.accountPage()[pri:0, instance:testng.NewTest1@4678c730]">accountPage</td> 
  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>17/01/19 14:09:15</td>   <td>69</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest1.homePage()[pri:0, instance:testng.NewTest1@4678c730]">homePage</td> 
  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="849fce">  <td>17/01/19 14:09:15</td>   <td>78</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest2.login()[pri:0, instance:testng.NewTest2@6767c1fc]">&gt;&gt;login</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="849fce">  <td>17/01/19 14:09:15</td>   <td>79</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest2.CheckPageDelete()[pri:0, instance:testng.NewTest2@6767c1fc]">CheckPageDelete</td> 
  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="849fce">  <td>17/01/19 14:09:15</td>   <td>87</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest2.accountPageDelete()[pri:0, instance:testng.NewTest2@6767c1fc]">accountPageDelete</td> 
  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="849fce">  <td>17/01/19 14:09:15</td>   <td>94</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest2.homePageDelete()[pri:0, instance:testng.NewTest2@6767c1fc]">homePageDelete</td> 
  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="849fce">  <td>17/01/19 14:09:15</td>   <td>101</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest2.logout()[pri:0, instance:testng.NewTest2@6767c1fc]">&lt;&lt;logout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>17/01/19 14:09:15</td>   <td>102</td> <td>&nbsp;</td><td title="&lt;&lt;NewTest1.logout()[pri:0, instance:testng.NewTest1@4678c730]">&lt;&lt;logout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1782704802</td>   <td></td> </tr>
</table>
