<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6e8abd">  <td>17/04/19 10:04:13</td>   <td>0</td> <td title="&gt;&gt;Tabs.openBrowser()[pri:0, instance:testng.Tabs@343f4d3d]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1555690610</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/04/19 10:04:27</td>   <td>13867</td> <td>&nbsp;</td><td title="&gt;&gt;AccountRegister.launchBrowser()[pri:0, instance:testng.AccountRegister@548e7350]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1555690610</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>17/04/19 10:04:47</td>   <td>33311</td> <td>&nbsp;</td><td title="&gt;&gt;CreditCard.launchBrowser()[pri:0, instance:testng.CreditCard@53b32d7]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1555690610</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>17/04/19 10:05:00</td>   <td>46928</td> <td>&nbsp;</td><td title="&gt;&gt;StoreLocator.logoutUserStoreLocator()[pri:0, instance:testng.StoreLocator@5442a311]">&gt;&gt;logoutUserStoreLocator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1555690610</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>17/04/19 10:05:17</td>   <td>63319</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreditCard.logIn()[pri:0, instance:testng.CreditCard@53b32d7]">logIn</td> 
  <td>main@1555690610</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/04/19 10:05:17</td>   <td>63337</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountRegister.registerBtn()[pri:0, instance:testng.AccountRegister@548e7350]">registerBtn</td> 
  <td>main@1555690610</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>17/04/19 10:05:17</td>   <td>63429</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APITestImage.basicTest()[pri:0, instance:testng.APITestImage@1a968a59]">basicTest</td> 
  <td>main@1555690610</td>   <td></td> </tr>
<tr bgcolor="e8b466">  <td>17/04/19 10:05:17</td>   <td>63487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountDashboard.f()[pri:0, instance:testng.AccountDashboard@4667ae56]">f</td> 
  <td>main@1555690610</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>17/04/19 10:05:17</td>   <td>63508</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CartFunctionality.openBrowser()[pri:0, instance:testng.CartFunctionality@77cd7a0]">openBrowser</td> 
  <td>main@1555690610</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>17/04/19 10:05:17</td>   <td>63522</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SSLCertificate.lunchBrowser()[pri:0, instance:testng.SSLCertificate@204f30ec]">lunchBrowser</td> 
  <td>main@1555690610</td>   <td></td> </tr>
<tr bgcolor="8f92ff">  <td>17/04/19 10:05:17</td>   <td>63536</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APITestUrl.basicTest()[pri:0, instance:testng.APITestUrl@e25b2fe]">basicTest</td> 
  <td>main@1555690610</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>17/04/19 10:05:17</td>   <td>63564</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreditCard.captureDeatils()[pri:1, instance:testng.CreditCard@53b32d7]">captureDeatils</td> 
  <td>main@1555690610</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>17/04/19 10:05:17</td>   <td>63579</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StoreLocator.logOutUStoreLocator()[pri:1, instance:testng.StoreLocator@5442a311]">logOutUStoreLocator</td> 
  <td>main@1555690610</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>17/04/19 10:05:17</td>   <td>63602</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CartFunctionality.cartFunctionality()[pri:1, instance:testng.CartFunctionality@77cd7a0]">cartFunctionality</td> 
  <td>main@1555690610</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/04/19 10:05:17</td>   <td>63609</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountRegister.regeisterRequired()[pri:1, instance:testng.AccountRegister@548e7350]">regeisterRequired</td> 
  <td>main@1555690610</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>17/04/19 10:05:17</td>   <td>63622</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tabs.womenTabClick()[pri:1, instance:testng.Tabs@343f4d3d]">womenTabClick</td> 
  <td>main@1555690610</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>17/04/19 10:05:17</td>   <td>63643</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreditCard.addToCart()[pri:2, instance:testng.CreditCard@53b32d7]">addToCart</td> 
  <td>main@1555690610</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/04/19 10:05:18</td>   <td>64464</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountRegister.regiester(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:2, instance:testng.AccountRegister@548e7350]">regiester</td> 
  <td>main@1555690610</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/04/19 10:05:18</td>   <td>64529</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountRegister.regiester(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:2, instance:testng.AccountRegister@548e7350]">regiester</td> 
  <td>main@1555690610</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>17/04/19 10:05:18</td>   <td>64535</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tabs.menTabClick()[pri:2, instance:testng.Tabs@343f4d3d]">menTabClick</td> 
  <td>main@1555690610</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>17/04/19 10:05:18</td>   <td>64541</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tabs.kidsTabClick()[pri:3, instance:testng.Tabs@343f4d3d]">kidsTabClick</td> 
  <td>main@1555690610</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>17/04/19 10:05:18</td>   <td>64545</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tabs.shoesTabClick()[pri:4, instance:testng.Tabs@343f4d3d]">shoesTabClick</td> 
  <td>main@1555690610</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>17/04/19 10:05:18</td>   <td>64551</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tabs.beautyTabClick()[pri:5, instance:testng.Tabs@343f4d3d]">beautyTabClick</td> 
  <td>main@1555690610</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>17/04/19 10:05:18</td>   <td>64558</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tabs.homewareTabClick()[pri:6, instance:testng.Tabs@343f4d3d]">homewareTabClick</td> 
  <td>main@1555690610</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>17/04/19 10:05:18</td>   <td>64562</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tabs.cellularTabClick()[pri:7, instance:testng.Tabs@343f4d3d]">cellularTabClick</td> 
  <td>main@1555690610</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>17/04/19 10:05:18</td>   <td>64567</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tabs.brandsTabClick()[pri:8, instance:testng.Tabs@343f4d3d]">brandsTabClick</td> 
  <td>main@1555690610</td>   <td></td> </tr>
</table>
